*{
    margin: 0;
    padding:0;
}
.header-main{
    background-color:#fff;
    height: 100px;
    width: 100%;

    
    
}
ul{
    margin-left: 60px;
}

ul li{
    display: inline-block;
    list-style: none;
    line-height: 100px;
    padding:0 25px;
    float: left;
}
 .header-logo{
     
    margin-left:0%;
     padding-bottom:20px;
 }
 ul li a{
     text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: block;

 }
 a:hover{
     color: crimson;
 }
 a:after{
     color: indigo;
 }

