
    #logout{
        height: 30px;
       width: 94px;
       margin-top: 30px;
       margin-left: 600px;
       color: blue;
       font-size: 14px;
       font-weight: 300;
       background-color:#c300ff;
    
}